{% extends "layouts/base.html" %}

{% block content %}

<h1> About </h1>

<p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum, fugiat rem distinctio harum, odio a rerum repudiandae exercitationem magnam dolores incidunt? Labore veritatis distinctio obcaecati quibusdam eaque perferendis, accusamus possimus provident dolorem, recusandae quaerat. Hic est ex, omnis eligendi repellat repudiandae quo totam maiores ipsa dolorum vero incidunt doloribus dolorem exercitationem nesciunt eveniet dicta, sunt itaque recusandae perspiciatis adipisci, veritatis tenetur autem! Sunt quam tempore esse neque enim debitis rem corrupti mollitia quaerat possimus eum ratione, suscipit odit consequatur labore commodi recusandae? Iste molestias quisquam eius labore assumenda doloremque accusamus delectus, ex impedit veniam, aliquam non, dolores veritatis sit! Reiciendis.</p>

<p> Created by {{username}}</p>

{% endblock %}


